.person1{
    width: 200px;
    border: solid black 3px;
    padding:10px;
    margin: 10px;
    background-color: cornsilk;

    -webkit-box-shadow:inset 0 0 10px 5px #20DE0B;
box-shadow:inset 0 0 10px 5px #20DE0B;
}

.person2{
    width: 200px;
    border: solid black 3px;
    padding:10px;
    margin: 10px;
    background-color: gainsboro;
}
