<h2>Third Component</h2>
<div
[class.green-box]="boxType==1"
[class.red-box]="boxType==2"
[class.blue-box]="boxType==3"
class="box"></div>

<hr>
<ul>
    <li [class.active]="category ==1">category 1</li>
    <li [class.active]="category ==2">category 2</li>
    <li [class.active]="category ==3">category 3</li>
    <li [class.active]="category ==4">category 4</li>
    <li [class.active]="category ==5">category 5</li>
</ul>

<hr>

<button [class.active]="category ==1">1</button>
<button [class.active]="category ==2">2</button>
<button [class.active]="category ==3">3</button>
<button [class.active]="category ==4">4</button>
<button [class.active]="category ==5">5</button>
<button [class.active]="category ==6">6</button>
<button [class.active]="category ==7">7</button>
<button [class.active]="category ==8">8</button>
<button [class.active]="category ==9">9</button>
<button [class.active]="category ==10">10</button>

<hr>

