.box{
    width:100px;
    height:100px;
}

.red-box{
    background-color: red;
}
.blue-box{
    background-color: blue;
}
.green-box{
    background-color: green;
}

.active{
    background-color: blue;
    color: white;
}

